[submodule "Narrative"]
	path = Narrative
	url = https://github.com/InterfaceGuy/Narrative
[submodule "DomesticatedMind"]
	path = DomesticatedMind
	url = https://github.com/InterfaceGuy/DomesticatedMind.git
[submodule "Emergence"]
	path = Emergence
	url = https://github.com/InterfaceGuy/Emergence.git
